## ASBD LAB 7 - CED19I027 - N. SREE DHYUTI

In [1]:
# CED19I027 - N. SREE DHYUTI - ASBD LAB7

# Import Required Libraries
import pandas as pd
import math
import random
import statistics
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import openpyxl
from openpyxl.styles import PatternFill
import squarify
import stemgraphic
import plotly.graph_objects as go  
import plotly.express as px
import scipy.stats as stats

from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

## 1. Test drive the basic version of FP Growth algorithms for Frequent Itemset Mining using the package / library support in the platform of your choice. Test it with various support and confidence measures and generate a time comparison for varied data set sizes. To do the performance comparison you may use benchmark datasets provided for FIM such as the FIMI workshop or other sources.

In [2]:
data = pd.read_csv(r"C:\Users\dhyut\SEM8\ASBD LAB\Lab 7\Market_Basket_Optimisation.csv")
data

,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,butter,light mayo,fresh bread,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7496,burgers,frozen vegetables,eggs,french fries,magazines,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7497,chicken,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7498,escalope,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7499,eggs,frozen smoothie,yogurt cake,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#traversal through database for once took 4 mins
import numpy as np
# Gather All Items of Each Transactions into Numpy Array
transaction = []
for i in range(0, data.shape[0]):
    for j in range(0, data.shape[1]):
        transaction.append(data.values[i,j])
# converting to numpy array
transaction = np.array(transaction)
print(transaction)

In [ ]:
#  Transform Them a Pandas DataFrame
df = pd.DataFrame(transaction, columns=["items"]) 
# Put 1 to Each Item For Making Countable Table, to be able to perform Group By
df["incident_count"] = 1 
#  Delete NaN Items from Dataset
indexNames = df[df['items'] == "nan" ].index
df.drop(indexNames , inplace=True)
# Making a New Appropriate Pandas DataFrame for Visualizations  
df_table = df.groupby("items").sum().sort_values("incident_count", ascending=False).reset_index()
#  Initial Visualizations
df_table.head(5).style.background_gradient(cmap='Blues')

In [ ]:
# importing required module
import plotly.express as px
# to have a same origin
df_table["all"] = "Top 50 items" 
# creating tree map using plotly
fig = px.treemap(df_table.head(50), path=['all', "items"], values='incident_count',
                  color=df_table["incident_count"].head(50), hover_data=['items'],
                  color_continuous_scale='Blues',
                )
# ploting the treemap
fig.show()

In [ ]:
# Transform Every Transaction to Seperate List & Gather Them into Numpy Array
transaction = []
for i in range(data.shape[0]):
    transaction.append([str(data.values[i,j]) for j in range(data.shape[1])])
# creating the numpy array of the transactions
transaction = np.array(transaction)
# importing the required module
from mlxtend.preprocessing import TransactionEncoder
# initializing the transactionEncoder
te = TransactionEncoder()
te_ary = te.fit(transaction).transform(transaction)
dataset = pd.DataFrame(te_ary, columns=te.columns_)
# dataset after encoded
dataset.head()

In [ ]:
# select top 30 items
first30 = df_table["items"].head(30).values 
# Extract Top 30
dataset = dataset.loc[:,first30] 
# shape of the dataset
dataset.shape

In [ ]:
from mlxtend.frequent_patterns.fpgrowth import fpgrowth
#running the fpgrowth algorithm
res=fpgrowth(dataset,min_support=0.05, use_colnames=True)
# printing top 10
res

In [ ]:
# importing required module
from mlxtend.frequent_patterns.association_rules import association_rules
# creating asssociation rules
res2=association_rules(res, metric="lift", min_threshold=1)
# printing association rules
res

## 2. Extend the Apriori Algorithm discussed in the class supporting Transaction Reduction approach to improve the time complexity issue as a result of the repeated scans limitation of Apriori. You may compare this extended version with the earlier implementations in (1) over the same benchmark dataset.

In [ ]:
import skmine
from skmine.datasets.fimi import fetch_iris
iris = fetch_iris()
iris_list=[]
for i in iris:
    iris_list.append(i)
print("Length of dataset is :",len(iris_list))
iris=pd.DataFrame(iris)
#iris
print(len(iris.values[0,0]))
print(iris.values[0,0][0])

In [ ]:
#traversal through database for once took 4 mins
import numpy as np
# Gather All Items of Each Transactions into Numpy Array
transaction = []
for i in range(0, iris.shape[0]):
    for j in range(0, iris.shape[1]):
        for k in range(0, len(iris.values[i,j])):
            transaction.append(iris.values[i,j][k])
# converting to numpy array
transaction = np.array(transaction)
print(transaction)

In [ ]:
#  Transform Them a Pandas DataFrame
df = pd.DataFrame(transaction, columns=["items"]) 
# Put 1 to Each Item For Making Countable Table, to be able to perform Group By
df["incident_count"] = 1 
#  Delete NaN Items from Dataset
indexNames = df[df['items'] == "nan" ].index
df.drop(indexNames , inplace=True)
# Making a New Appropriate Pandas DataFrame for Visualizations  
df_table = df.groupby("items").sum().sort_values("incident_count", ascending=False).reset_index()
#  Initial Visualizations
df_table.head(5).style.background_gradient(cmap='Blues')

In [ ]:
# importing required module
import plotly.express as px
# to have a same origin
df_table["all"] = "Top 20 items" 
# creating tree map using plotly
fig = px.treemap(df_table.head(50), path=['all', "items"], values='incident_count',
                  color=df_table["incident_count"].head(20), hover_data=['items'],
                  color_continuous_scale='Blues',
                )
# ploting the treemap
fig.show()

In [ ]:
import numpy as np
# Gather All Items of Each Transactions into Numpy Array
transaction = []
for i in range(iris.shape[0]):
    for j in range(0, iris.shape[1]):
        transaction.append([str(iris.values[i,j][k]) for k in range(0, len(iris.values[i,j]))])        
# creating the numpy array of the transactions
transaction = np.array(transaction)
# importing the required module
from mlxtend.preprocessing import TransactionEncoder
# initializing the transactionEncoder
te = TransactionEncoder()
te_ary = te.fit(transaction).transform(transaction)
dataset = pd.DataFrame(te_ary, columns=te.columns_)
# dataset after encoded
dataset

In [ ]:
# select top 30 items
first10 = df_table["items"].head(10).values
first10dup = []
for i in range(len(first10)):
    first10dup.append(str(first10[i]))  
# Extract Top 30
dataset = dataset.loc[:,first10dup] 
# shape of the dataset
dataset.shape

In [ ]:
transactions = [[y for y in x if pd.notna(y)] for x in data.values.tolist()]
print(transactions)

In [ ]:
# Generate frequent 1-itemsets
candidate_1_itemsets = []
for transaction in transactions:
    for item in transaction:
        if [item] not in candidate_1_itemsets:
            candidate_1_itemsets.append([item])
print(len(candidate_1_itemsets))                        
print(candidate_1_itemsets)   

def prune(itemsets, min_support, transactions):
    frequent_itemsets = []
    for itemset in itemsets:
        support_count = 0
        for transaction in transactions:
            if set(itemset).issubset(set(transaction)):
                support_count += 1
        if support_count >= min_support:
            frequent_itemsets.append(itemset)
    return frequent_itemsets
frequent_itemsets = prune(candidate_1_itemsets, 300 , transactions)
print(len(frequent_itemsets))
print(frequent_itemsets)

In [ ]:
def generate_candidates(itemsets, k):
    candidates = []
    for itemset1 in itemsets:
        for itemset2 in itemsets:
            if itemset1 != itemset2 and len(set(itemset1) | set(itemset2)) == k:
                candidate = sorted(list(set(itemset1) | set(itemset2)))
                if candidate not in candidates:
                    candidates.append(candidate)
    return candidates

def flatten(l):
    return set([item for sublist in l for item in sublist])

k=2
while len(frequent_itemsets)>0:
    candidate_itemsets=generate_candidates(frequent_itemsets,k)
    reduced_transactions = []
    for transaction in transactions:
        reduced_transaction = [item for item in transaction if item in set(flatten(frequent_itemsets))]
        if len(reduced_transaction) > 0:
            reduced_transactions.append(reduced_transaction)
    frequent_itemsets = prune(candidate_itemsets, 100 , reduced_transactions)
    print(len(frequent_itemsets))
    print(frequent_itemsets)  
    print("\n")
    k+=1

## 3. Test drive any one implementation in (1) or (2) adopting a Vertical Transaction Database format.

In [ ]:
transactions = [[y for y in x if pd.notna(y)] for x in data.values.tolist()]
# Convert to vertical format
data = []
for i, row in enumerate(transactions):
    for item in row:
        data.append({"transaction_id": i, "item": item})

df = pd.DataFrame(data)
print(df)
pivot_table = pd.pivot_table(df, values="transaction_id", index="item", columns="transaction_id", aggfunc=lambda x: 1 if len(x)>0 else 0, fill_value=0)
print(pivot_table)

In [ ]:
row=[]
table=[]
print(type(pivot_table.values))
for i in range(pivot_table.shape[0]):
    for j in range(pivot_table.shape[1]):
        if(pivot_table.values[i][j]):
            row.append(j+1)   
    table.append(row)
    row=[]
print(table)

In [ ]:
# Generate frequent 1-itemsets
candidate_1_itemsets = []
for transaction in table:
    for item in transaction:
        if [item] not in candidate_1_itemsets:
            candidate_1_itemsets.append([item])
print(len(candidate_1_itemsets))                        
print(candidate_1_itemsets)

In [ ]:
def prune(itemsets, min_support, table):
    frequent_itemsets = []
    for itemset in itemsets:
        support_count = 0
        for transaction in table:
            if set(itemset).issubset(set(transaction)):
                support_count += 1
        if support_count >= min_support:
            print(support_count)
            frequent_itemsets.append(itemset)
    return frequent_itemsets
frequent_itemsets = prune(candidate_1_itemsets, 15 , table)
print(len(frequent_itemsets))
print(frequent_itemsets)

In [ ]:
def generate_candidates(itemsets, k):
    candidates = []
    for itemset1 in itemsets:
        for itemset2 in itemsets:
            if itemset1 != itemset2 and len(set(itemset1) | set(itemset2)) == k:
                candidate = sorted(list(set(itemset1) | set(itemset2)))
                if candidate not in candidates:
                    candidates.append(candidate)
    return candidates

'''candidate_2_itemsets = generate_candidates(frequent_itemsets,2)
frequent_itemsets = prune(candidate_2_itemsets, 300 , transactions)
print(frequent_itemsets)
print("\n")'''

def flatten(l):
    return set([item for sublist in l for item in sublist])

k=2
while len(frequent_itemsets)>0:  
    candidate_itemsets=generate_candidates(frequent_itemsets,k)
    reduced_transactions = []
    for transaction in table:
        reduced_transaction = [item for item in transaction if item in set(flatten(frequent_itemsets))]
        if len(reduced_transaction) > 0:
            reduced_transactions.append(reduced_transaction)
    frequent_itemsets = prune(candidate_itemsets, 5 , reduced_transactions)
    print(frequent_itemsets)  
    print("\n")
    k+=1

## 4. Using a vertical transaction database notation, generate the FI’s following the intersection approach (basic ECLAT) discussed in the class. Use earlier benchmark datasets in (1).

In [ ]:
#data.values returns numpy array 
#tolist converts its to list
data = pd.read_csv(r"C:\Users\dhyut\SEM8\ASBD LAB\Lab 7\Market_Basket_Optimisation.csv")
records = [[y for y in x if pd.notna(y)] for x in data.values.tolist()]
print(data.values.tolist())
Database={}
for i in range(len(records)):
    Database["T"+str(i+1)]=records[i]
print(Database)

In [ ]:
Database_vdf={}
for key,val in Database.items():
    for x in val:
        if (x,) not in Database_vdf:
            Database_vdf[(x,)]=[key]
        else:
            Database_vdf[(x,)].append(key)
print(Database_vdf)

In [ ]:
records_vdf=[]
for key,val in Database_vdf.items():
    records_vdf.append(val)
print(records_vdf)

In [ ]:
from mlxtend.preprocessing import TransactionEncoder

import pandas as pd
te = TransactionEncoder()
te_ary = te.fit(records_vdf).transform(records_vdf)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

In [ ]:
def remove_items_vdf(Database_vdf,Min_Sup):
    rem_keys=[]
    for key,val in Database_vdf.items():
        if(len(val)<Min_Sup):
            rem_keys.append(key)
    for key in rem_keys:
        Database_vdf.pop(key)
    return Database_vdf

def get_vdf(Li,iteration):
    New_Li={}
    for key1,val1 in Li.items():
        for key2,val2 in Li.items():
            if(key1!=key2):
                new_key=key1+key2
                if(len(new_key)>iteration):
                    continue
                else:
                    New_Li[new_key]=set(val1).intersection(set(val2))
    return New_Li

In [ ]:
iteration =0
Min_Sup=300

Li=Database_vdf
iteration+=1
print("Iteration No: ",iteration)    
Li=remove_items_vdf(Li,Min_Sup)
for key1,val1 in Li.items():
    print(key1)

while(1):
    iteration+=1
    c=get_vdf(Li,iteration)
    print("Iteration No: ",iteration)
    Li=remove_items_vdf(c,Min_Sup)
    for key1,val1 in Li.items():
        print(key1)
    if(len(Li)==0):
        break
    else:
        final_vdf=Li

## 5 - 7

In [ ]:
transactions = [[y for y in x if pd.notna(y)] for x in data.values.tolist()]

print(transactions)

In [ ]:
# Generate frequent 1-itemsets
candidate_1_itemsets = []
for transaction in transactions:
    for item in transaction:
        if [item] not in candidate_1_itemsets:
            candidate_1_itemsets.append([item])
print(len(candidate_1_itemsets))                        
print(candidate_1_itemsets)

In [ ]:
def prune(itemsets, min_support, transactions):
    frequent_itemsets = []
    for itemset in itemsets:
        support_count = 0
        for transaction in transactions:
            if all(x in transaction for x in itemset):
                support_count += 1
        if support_count >= min_support:
            frequent_itemsets.append(itemset)
    return frequent_itemsets
frequent_itemsets = prune(candidate_1_itemsets, 300 , transactions)
print(len(frequent_itemsets))
print(frequent_itemsets)

In [ ]:
def generate_candidates(itemsets, k):
    candidates = []
    for itemset1 in itemsets:
        for itemset2 in itemsets:
            if itemset1 != itemset2 and len(set(itemset1) | set(itemset2)) == k:
                candidate = list(set(itemset1) | set(itemset2))
                if candidate not in candidates:
                    candidates.append(candidate)
    return candidates

'''candidate_2_itemsets = generate_candidates(frequent_itemsets,2)
frequent_itemsets = prune(candidate_2_itemsets, 300 , transactions)
print(frequent_itemsets)
print("\n")'''

def flatten(l):
    return set([item for sublist in l for item in sublist])

k=2
while len(frequent_itemsets)>0:
    candidate_itemsets=generate_candidates(frequent_itemsets,k)
    reduced_transactions = []
    for transaction in transactions:
        reduced_transaction = [item for item in transaction if item in set(flatten(frequent_itemsets))]
        if len(reduced_transaction) > 0:
            reduced_transactions.append(reduced_transaction)
    frequent_itemsets = prune(candidate_itemsets, 100 , reduced_transactions)
    print(len(frequent_itemsets))
    print(frequent_itemsets)  
    print("\n")
    k+=1

In [ ]:
database = [[1,1,0],[1,0,0],[0,1,1],[0,0,0]]
unique_itemset =[{1},{2},{3}]
min_supp = 1
M = 2
size = len(database)

In [ ]:
import numpy as np
import itertools 
import copy

def get_subset(S,n):
    a = itertools.combinations(S,n)
    results = []
    for i in a:
        results.append(set(i))
    return(results)

def get_superset(S,unique_itemset):
    result = []
    a = set()
    for i in unique_itemset:
        if i.intersection(S)==set():
            a = i.union(S)
            result.append(a)
            a = set()

    return(result)

def check_subset(Set,frequent_set):
    subset = get_subset(Set,len(Set)-1)
    flag = 1
    temp = []

    for i in frequent_set:
        temp.append(i[0])

    frequent_set = temp
    for i in subset:
        if i not in frequent_set:
            flag=0
            break

    if flag:
        return(True)
    else:
        return(False)

def get_itemset(T):
    result = set()
    for i in range(len(T)):
        if T[i]!=0:
            result.add(i+1)

    return(result)

In [ ]:
def dynamic_itemset_counting(database, min_supp, unique_itemset, M):
    DC = []
    DS = []
    SC = []
    SS = []

    for i in unique_itemset:
        DC.append([i,0,0])

    print("Initial DC:",DC,"\n")
    counter = 0
    T = []
    frequent_itemsets = []
    size = len(database)

    while len(DC)!=0 or len(DS)!=0:

        for i in range(counter,counter+M):
            index = i%size
            T = get_itemset(database[index])
            print("Transaction :",T)

            for item in DC:
                item[2]+=1
                if item[0].issubset(T):
                    item[1]+=1
            for item in DS:
                item[2]+=1
                if item[0].issubset(T):
                    item[1]+=1

        for item in copy.copy(DC):
            if(item[1]>=min_supp):
                DS.append(item)
                DC.remove(item)

        for item in copy.copy(DS):
            if(item[2]==size):
                SS.append(item)
                DS.remove(item)
        for item in copy.copy(DC):
            if(item[2]==size):
                SC.append(item)
                DC.remove(item)

        frequent_set = copy.copy(DS)
        frequent_set.extend(SS)
        for item in frequent_set:
            S = get_superset(item[0],unique_itemset)
            for i in S:
                if (check_subset(i,frequent_set)):
                    flag=1
                    for x in DC:
                        if x[0]==i:
                            flag=0
                    for x in DS:
                        if x[0]==i:
                            flag=0
                    for x in SC:
                        if x[0]==i:
                            flag=0
                    for x in SS:
                        if x[0]==i:
                            flag=0
                    if flag:
                        DC.append([i,0,0])

        counter+=M
        print("DS: ",DS)
        print("DC: ",DC)
        print("SS: ",SS)
        print("SC: ",SC,"\n")

    for item in DS:
        if item[1] >= min_supp:
            frequent_itemsets.append(item[0])

    for item in SS:
        if item[1] >= min_supp:
            frequent_itemsets.append(item[0])

    return frequent_itemsets

In [ ]:
dynamic_itemset_counting(database, min_supp, unique_itemset, M)