## ASBD MIDSEM - CED19I027 - N. SREE DHYUTI

In [1]:
# CED19I027 - N. SREE DHYUTI - ASBD MIDSEM

# Import Required Libraries
import pandas as pd
import math
import random
import statistics
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import openpyxl
from openpyxl.styles import PatternFill
import squarify
import stemgraphic
import plotly.graph_objects as go  
import plotly.express as px
import scipy.stats as stats

**Load Dataset**

In [2]:
data = pd.read_csv(r"01_District_wise_crimes_committed_IPC_2001_2012.csv")
data

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
0,ANDHRA PRADESH,ADILABAD,2001,101,60,17,50,0,50,46,...,30,1131,16,149,34,175,0,181,1518,4154
1,ANDHRA PRADESH,ANANTAPUR,2001,151,125,1,23,0,23,53,...,69,1543,7,118,24,154,0,270,754,4125
2,ANDHRA PRADESH,CHITTOOR,2001,101,57,2,27,0,27,59,...,38,2088,14,112,83,186,0,404,1262,5818
3,ANDHRA PRADESH,CUDDAPAH,2001,80,53,1,20,0,20,25,...,23,795,17,126,38,57,0,233,1181,3140
4,ANDHRA PRADESH,EAST GODAVARI,2001,82,67,1,23,0,23,49,...,41,1244,12,109,58,247,0,431,2313,6507
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9012,LAKSHADWEEP,LAKSHADWEEP,2012,0,0,0,0,0,0,0,...,3,3,0,1,0,1,0,0,32,60
9013,LAKSHADWEEP,TOTAL,2012,0,0,0,0,0,0,0,...,3,3,0,1,0,1,0,0,32,60
9014,PUDUCHERRY,KARAIKAL,2012,5,6,2,6,0,6,2,...,1,186,0,2,0,1,0,44,392,787
9015,PUDUCHERRY,PUDUCHERRY,2012,24,21,10,7,0,7,17,...,20,632,0,7,2,5,0,219,1668,3494
9016,PUDUCHERRY,TOTAL,2012,29,27,12,13,0,13,19,...,21,818,0,9,2,6,0,263,2060,4281

In [3]:
data.columns

Index(['STATE/UT', 'DISTRICT', 'YEAR', 'MURDER', 'ATTEMPT TO MURDER',
       'CULPABLE HOMICIDE NOT AMOUNTING TO MURDER', 'RAPE', 'CUSTODIAL RAPE',
       'OTHER RAPE', 'KIDNAPPING & ABDUCTION',
       'KIDNAPPING AND ABDUCTION OF WOMEN AND GIRLS',
       'KIDNAPPING AND ABDUCTION OF OTHERS', 'DACOITY',
       'PREPARATION AND ASSEMBLY FOR DACOITY', 'ROBBERY', 'BURGLARY', 'THEFT',
       'AUTO THEFT', 'OTHER THEFT', 'RIOTS', 'CRIMINAL BREACH OF TRUST',
       'CHEATING', 'COUNTERFIETING', 'ARSON', 'HURT/GREVIOUS HURT',
       'DOWRY DEATHS', 'ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY',
       'INSULT TO MODESTY OF WOMEN', 'CRUELTY BY HUSBAND OR HIS RELATIVES',
       'IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES',
       'CAUSING DEATH BY NEGLIGENCE', 'OTHER IPC CRIMES', 'TOTAL IPC CRIMES'],
      dtype='object')

## About the dataset: 

https://www.kaggle.com/datasets/rajanand/crime-in-india?resource=download

- State/UT - State or Union Territory from where the crime data is recorded
- District - District from where the crime data is recorded
- Year - Year when the crime data is recorded

**Number of Cases of...**

- Murder 
- Attempt to Murder
- Culpable Homicide not amounting to murder 
- Rape 
- Custodial Rape 
- Other Rape
- Kidnapping and abduction 
- Kidnapping and abduction of women & girls 
- Kidnapping and abduction of others 
- Dacoity 
- Preparation and assembly for dacoity
- Robbery
- Burglary
- Theft
- Auto Theft
- Other Theft
- Riots
- Criminal Breach of Trust
- Cheating
- Counterfieting
- Arson
- Hurt/Grevious Hurt
- Dowry Deaths
- Assault on women with intent to outrage her modesty
- Insult to modesty of women
- Cruelty by husband or his relatives
- Importation of girls from foreign countries
- Causing death by negligence
- Other IPC Crimes
- Total IPC Crimes

## Data Preprocessing

1. Selection
- Column named "Custodian Rape" can be dropped as no such cases were observed anywhere
- Column named "Kidnapping and abduction" can be removed as it is just a sum of attribute values of columns "Kidnapping and abduction of women & girls" and "Kidnapping and abduction of others"
- Similarly, "Theft" = "Auto Theft" + "Other Theft" and thus "Theft" can be dropped to save space
- Similarly, columns "Total IPC Crimes" can also be removed. 
- All of this will help reduce storage

In [4]:
all_attributes = list(data.columns)
drop_attributes = ["CUSTODIAL RAPE", "THEFT","KIDNAPPING & ABDUCTION", "TOTAL IPC CRIMES"]

req_attributes = []
for i in all_attributes:
    if i not in drop_attributes:
        req_attributes.append(i)
        
print("After Selection, Attributes being used are:")
for i in req_attributes:
    print(i)
    
data1 = data[req_attributes]

After Selection, Attributes being used are:
STATE/UT
DISTRICT
YEAR
MURDER
ATTEMPT TO MURDER
CULPABLE HOMICIDE NOT AMOUNTING TO MURDER
RAPE
OTHER RAPE
KIDNAPPING AND ABDUCTION OF WOMEN AND GIRLS
KIDNAPPING AND ABDUCTION OF OTHERS
DACOITY
PREPARATION AND ASSEMBLY FOR DACOITY
ROBBERY
BURGLARY
AUTO THEFT
OTHER THEFT
RIOTS
CRIMINAL BREACH OF TRUST
CHEATING
COUNTERFIETING
ARSON
HURT/GREVIOUS HURT
DOWRY DEATHS
ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY
INSULT TO MODESTY OF WOMEN
CRUELTY BY HUSBAND OR HIS RELATIVES
IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES
CAUSING DEATH BY NEGLIGENCE
OTHER IPC CRIMES

2. Cleaning
- The data has no Null Values or discrepancies
- The rows with totallings can be avoid unnecesary additions in the data

In [5]:
data1.dropna(axis=0)

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,OTHER RAPE,KIDNAPPING AND ABDUCTION OF WOMEN AND GIRLS,KIDNAPPING AND ABDUCTION OF OTHERS,...,COUNTERFIETING,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES
0,ANDHRA PRADESH,ADILABAD,2001,101,60,17,50,50,30,16,...,1,30,1131,16,149,34,175,0,181,1518
1,ANDHRA PRADESH,ANANTAPUR,2001,151,125,1,23,23,30,23,...,8,69,1543,7,118,24,154,0,270,754
2,ANDHRA PRADESH,CHITTOOR,2001,101,57,2,27,27,34,25,...,9,38,2088,14,112,83,186,0,404,1262
3,ANDHRA PRADESH,CUDDAPAH,2001,80,53,1,20,20,20,5,...,2,23,795,17,126,38,57,0,233,1181
4,ANDHRA PRADESH,EAST GODAVARI,2001,82,67,1,23,23,26,23,...,3,41,1244,12,109,58,247,0,431,2313
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9012,LAKSHADWEEP,LAKSHADWEEP,2012,0,0,0,0,0,0,0,...,0,3,3,0,1,0,1,0,0,32
9013,LAKSHADWEEP,TOTAL,2012,0,0,0,0,0,0,0,...,0,3,3,0,1,0,1,0,0,32
9014,PUDUCHERRY,KARAIKAL,2012,5,6,2,6,6,2,0,...,1,1,186,0,2,0,1,0,44,392
9015,PUDUCHERRY,PUDUCHERRY,2012,24,21,10,7,7,14,3,...,5,20,632,0,7,2,5,0,219,1668
9016,PUDUCHERRY,TOTAL,2012,29,27,12,13,13,16,3,...,6,21,818,0,9,2,6,0,263,2060

In [6]:
dropp = []
for i in data1.index:
    if data1["DISTRICT"][i] == "TOTAL":
        dropp.append(i)
data1.drop(dropp)

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,OTHER RAPE,KIDNAPPING AND ABDUCTION OF WOMEN AND GIRLS,KIDNAPPING AND ABDUCTION OF OTHERS,...,COUNTERFIETING,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES
0,ANDHRA PRADESH,ADILABAD,2001,101,60,17,50,50,30,16,...,1,30,1131,16,149,34,175,0,181,1518
1,ANDHRA PRADESH,ANANTAPUR,2001,151,125,1,23,23,30,23,...,8,69,1543,7,118,24,154,0,270,754
2,ANDHRA PRADESH,CHITTOOR,2001,101,57,2,27,27,34,25,...,9,38,2088,14,112,83,186,0,404,1262
3,ANDHRA PRADESH,CUDDAPAH,2001,80,53,1,20,20,20,5,...,2,23,795,17,126,38,57,0,233,1181
4,ANDHRA PRADESH,EAST GODAVARI,2001,82,67,1,23,23,26,23,...,3,41,1244,12,109,58,247,0,431,2313
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9010,DELHI UT,STF,2012,0,1,0,0,0,0,0,...,2,0,0,0,0,0,0,0,0,1
9011,DELHI UT,WEST,2012,52,37,10,79,79,256,198,...,2,18,227,18,53,6,327,0,292,1144
9012,LAKSHADWEEP,LAKSHADWEEP,2012,0,0,0,0,0,0,0,...,0,3,3,0,1,0,1,0,0,32
9014,PUDUCHERRY,KARAIKAL,2012,5,6,2,6,6,2,0,...,1,1,186,0,2,0,1,0,44,392
9015,PUDUCHERRY,PUDUCHERRY,2012,24,21,10,7,7,14,3,...,5,20,632,0,7,2,5,0,219,1668

3. Normalization

In [7]:
# # Z-Score Normalization

# for i in range(3, len(data1.columns)):
#     data = np.array(data1[data1.columns[i]])
#     data1[data1.columns[i]] = stats.zscore(data1["MURDER"])
# # data = np.array(data1["MURDER"])
# # print("\n Using Scipy:")
# # print(stats.zscore(data1["MURDER"]))

4. Data Transformation

In [ ]:
def binning_mean(param):
    num_bins = 250
    bin_size = math.ceil(data1.shape[0]/num_bins)
    bins = []
    binn = []
    for i in data1.index:  
        binn.append(int(data1[str(param)][i]))
        if(len(binn) == bin_size):
            bins.append(binn)
            binn = []

    cnt = 0
    for i in data1.index:
        bin_mean = statistics.mean(bins[(cnt//bin_size)-1])
        cnt += 1
        if data1[param][i] == 0:
            data1.at[i, param] = bin_mean
    count = (data1[param] == 0).sum()
    print(count)
    return 

for i in range(3, len(data1.columns)):
    binning_mean(data1.columns[i])

0
0
46
0
0

## Descriptive Analytics

In [ ]:
# State Wise Data

states = []

for i in data1.index:
    if data1["STATE/UT"][i] not in states:
        states.append(data1["STATE/UT"][i])

murder = [0]*len(states)
atm = [0]*len(states)
homicide = [0]*len(states)
rape = [0]*len(states)
othr_rape = [0]*len(states)
kidnap_girl = [0]*len(states)
kidnap_others = [0]*len(states)
dacoit = [0]*len(states)
prep_dacoit = [0]*len(states)
robbery = [0]*len(states)
burglary = [0]*len(states)
auto_theft = [0]*len(states)
other_theft = [0]*len(states)
riots = [0]*len(states)
trust = [0]*len(states)
cheat = [0]*len(states)
counterfiet = [0]*len(states)
arson = [0]*len(states)
hurt = [0]*len(states)
dowry = [0]*len(states)
assault = [0]*len(states)
insult_women = [0]*len(states)
cruelty = [0]*len(states)
import_women = [0]*len(states)
negligence = [0]*len(states)
other = [0]*len(states)

attributes = [murder, atm, homicide, rape, othr_rape, kidnap_girl, kidnap_others,
              dacoit, prep_dacoit, robbery, burglary, auto_theft, other_theft,
              riots, trust, cheat, counterfiet, arson, hurt, dowry, assault,
              insult_women, cruelty, import_women, negligence, other]

for i in data1.index:
    state = data1["STATE/UT"][i]
    indexx = states.index(state)
    for j in range(len(attributes)):
        attributes[j][indexx] += data1[data1.columns[j+3]][i]

In [ ]:
# Bar Chart
fig = plt.figure(figsize = (5, 5))
# creating the bar plot
for i in range(len(attributes)):
    plt.bar(states, attributes[i], width = 0.5)
    plt.xlabel("States")
    plt.ylabel(f"Number of cases of {data1.columns[i+3]}")
    plt.title(f"{data1.columns[i+3]} Cases vs States")
    plt.xticks(rotation=90)
    plt.show()

In [ ]:
# Finding the states with Most Frequent Crime:
crimes_states = []
print("Crimes and State where it happens the most\n\n")
for i in range(len(attributes)):
    crime_max = max(attributes[i])
    indexx = attributes[i].index(crime_max)
    print(f"Crime: {data1.columns[i+3]} \nMost Frequently in State: {states[indexx]}\n\n")
    crimes_states.append(states[indexx])

In [ ]:
check = list(set(crimes_states))
print("States with maximum Crimes in Decreasing Order:")

stat = [0]*len(check)
for i in crimes_states:
    ind = check.index(i)
    stat[ind] += 1

sortedd = [x for _, x in sorted(zip(stat, check))]

print(list(reversed(sortedd)))

sort_sorted = [x for _, x in sorted(zip(stat, stat))]
# plotting data on chart
explode = [0.1]*len(sortedd)
plt.pie(list(reversed(sort_sorted)), labels=list(reversed(sortedd)), explode=explode, autopct='%.0f%%')
  
# displaying chart
plt.title("\nPie Chart - Major Crimes Distribution")
plt.show()

## Observations:

- It can be noted that Uttar Pradesh, Madhya Pradesh, Maharashtra and Bihar have the most cases of crime happening in India

## Let us now closely look at the crime situations in Maharashtra, UP, MP & Bihar

In [ ]:
maharashtra = []
up = []
mp = []
bihar = []

mh_index = states.index("MAHARASHTRA")
up_index = states.index("UTTAR PRADESH")
mp_index = states.index("MADHYA PRADESH")
bihar_index = states.index("BIHAR")

for i in attributes:
    maharashtra.append(i[mh_index])
    up.append(i[up_index])
    mp.append(i[mp_index])
    bihar.append(i[bihar_index])

for i in [maharashtra, up, mp, bihar]:
    plt.plot(data1.columns[3:], np.array(i))
plt.xlabel(f"Crime")
plt.ylabel(f"Number of such crimes")
plt.title(f"Crime VS Number of such crimes")
plt.legend(['maharashtra', 'up', 'mp', 'bihar'])
plt.xticks(rotation=90)
plt.show()

## Observations:
- KK
- KK

In [ ]:
for i in [maharashtra, up, mp, bihar]:
    plt.scatter(data1.columns[3:], np.array(i))
plt.xlabel(f"Crime")
plt.ylabel(f"Number of such crimes")
plt.title(f"Crime VS Number of such crimes")
plt.legend(['maharashtra', 'up', 'mp', 'bihar'])
plt.xticks(rotation=90)
plt.show()

## Observations:
- KK
- KK

In [ ]:
s = ['maharashtra', 'up', 'mp', 'bihar']
cnt = 0
for i in [maharashtra, up, mp, bihar]:
    plt.boxplot(i)
    plt.xlabel(f"Crime")
    plt.ylabel(f"Number of such crimes")
    plt.title(f"Crime VS Number of such crimes: {s[cnt]}")
    cnt += 1
    plt.xticks(rotation=90)
    plt.show()

## Observations:
- kk
- kk

In [ ]:
cnt = 0
for i in [maharashtra, up, mp, bihar]:
    sns.swarmplot(x=i)
    plt.xlabel(f"Crime")
    plt.ylabel(f"Number of such crimes")
    plt.title(f"Crime VS Number of such crimes: {s[cnt]}")
    cnt += 1
    plt.xticks(rotation=90)
    plt.show()

## Observations:
- kk
- kk

In [ ]:
cnt = 0
for i in [maharashtra, up, mp, bihar]:
    sns.violinplot(i)
    plt.xlabel(f"Crime")
    plt.ylabel(f"Number of such crimes")
    plt.title(f"Crime VS Number of such crimes: {s[cnt]}")
    cnt += 1
    plt.xticks(rotation=90)
    plt.show()

## Observations:
- kk
- kk

In [ ]:
categories = data1.columns[[0, 1, 2, 3, 4, 5, 6]]

print("Radar Chart")
fig = go.Figure()
plt.Figure(figsize =(5, 3))

fig.add_trace(go.Scatterpolar(r=maharashtra, theta=categories, fill='toself', name='maharashtra'))
fig.add_trace(go.Scatterpolar(r=up, theta=categories, fill='toself', name='up'))
fig.add_trace(go.Scatterpolar(r=mp, theta=categories, fill='toself', name='mp'))
fig.add_trace(go.Scatterpolar(r=bihar, theta=categories, fill='toself', name='bihar'))

fig.update_layout(autosize=False, width=400, height=400)

fig.show()

## Observations:
- kk
- kk

In [ ]:
# Data as a dictionary
arr = []
for i in data1.columns[3:]:
    arr.append(math.ceil(statistics.mean(data1[i])))
    
data = dict(time=arr,
            steps=data1.columns[3:])

fig = px.funnel(data, x='time', y='steps')
fig.show()

## Observations:
- kk
- kk

In [ ]:
# Pareto Chart - Bar Chart in ascending/descending order
fig = plt.figure(figsize = (5, 5))

plott = []
for i in range(len(attributes)):
#     plott.append([statistics.mean(data1[data1.columns[i+3]]), i])
    plott.append([statistics.mean(data1[data1.columns[i+3]]), i])

# plott = [plott[0][0],plott[1][0], plott[2][0], plott[3][0], plott[4][0]]
plottt = []
label = []

plott.sort(reverse = True)

# print(plott)

for i in range(len(plott)):
    plottt.append(plott[i][0])
    label.append(data1.columns[plott[i][1] + 3])

plott = plottt

cumulative = []
cumulative.append(0)
for i in range(len(plott)):
    if(i == 0):
        cumulative.append(plott[0])
    else:
        cumulative.append(cumulative[i] + plott[i])
    
    
# creating the bar plot
plt.bar(label, plott, width = 0.5)
# Cumulative Plot
plt.plot(cumulative, color = "red")

plt.xlabel("Species")
plt.ylabel("Cms")
plt.title(f"Means of all attributes")
plt.legend([ "Cumulatiove Distribution","Pareto"])
plt.xticks(rotation = 90)
plt.show()

## Observations:
- kk
- kk

In [ ]:
def pareto_state_wise(state):
    fig = plt.figure(figsize = (5, 5))
#     dataa = data1.query(f'STATE/UT == {state}')
    delete = []
    for i in data1.index:
        if data1["STATE/UT"][i] != state:
            delete.append(i)
    dataaa = data1
    dataa = dataaa.drop(delete)
#     print(dataa)
    plott = []
    for i in range(len(attributes)):
    #     plott.append([statistics.mean(data1[data1.columns[i+3]]), i])
        plott.append([statistics.mean(dataa[dataa.columns[i+3]]), i])

    # plott = [plott[0][0],plott[1][0], plott[2][0], plott[3][0], plott[4][0]]
    plottt = []
    label = []

    plott.sort(reverse = True)

    # print(plott)

    for i in range(len(plott)):
        plottt.append(plott[i][0])
        label.append(dataa.columns[plott[i][1] + 3])

    plott = plottt

    cumulative = []
    cumulative.append(0)
    for i in range(len(plott)):
        if(i == 0):
            cumulative.append(plott[0])
        else:
            cumulative.append(cumulative[i] + plott[i])
    
    
    # creating the bar plot
    plt.bar(label, plott, width = 0.5)
    # Cumulative Plot
    plt.plot(cumulative, color = "red")

    plt.xlabel("Species")
    plt.ylabel("Cms")
    plt.title(f"Means of all attributes")
    plt.legend([ "Cumulatiove Distribution","Pareto"])
    plt.xticks(rotation = 90)
    plt.show()  
    return


string = "KERALA"
pareto_state_wise(string)

## Observations:
- kk
- kk

In [ ]:
count = (data1['ATTEMPT TO MURDER'] == 0).sum()
print(count)